@font-face {
  font-family: 'Ebgaramond Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/ebgaramond-regular/ebgaramond-regular-1765171533610-gmkmde.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/ebgaramond-regular/ebgaramond-regular-1765171533610-gmkmde.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
