@font-face {
  font-family: 'Haystack';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/haystack/haystack-1774793764835-sy7nd3.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/haystack/haystack-1774793764835-sy7nd3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
