@font-face {
  font-family: 'CristalElegance';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/cristalelegance/cristalelegance-1760784382366-693tnd.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/cristalelegance/cristalelegance-1760784382366-693tnd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
