@font-face {
  font-family: 'Argakafashion Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/argakafashion-regular/argakafashion-regular-1774793825380-0ud8vl.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/argakafashion-regular/argakafashion-regular-1774793825380-0ud8vl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
