@font-face {
  font-family: 'UTM Wedding K&T';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-wedding-kt/utm-wedding-kt-1772189574791-xuzew8.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-wedding-kt/utm-wedding-kt-1772189574791-xuzew8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
