@font-face {
  font-family: 'Praise Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/praise-regular/praise-regular-1763584897676-arwxc0.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/praise-regular/praise-regular-1763584897676-arwxc0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
