@font-face {
  font-family: 'BrikeyMoura Italic';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brikeymoura-italic/brikeymoura-italic-1778925384308-519rch.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brikeymoura-italic/brikeymoura-italic-1778925384308-519rch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
