@font-face {
  font-family: 'Beezle';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/beezle/beezle-1763551425717-f2v9bo.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/beezle/beezle-1763551425717-f2v9bo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
