@font-face {
  font-family: 'SoulNoteDisplay';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/soulnotedisplay/soulnotedisplay-1760784671669-vue2w1.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/soulnotedisplay/soulnotedisplay-1760784671669-vue2w1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
