@font-face {
  font-family: 'South Australia';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/south-australia/south-australia-1760784675505-reemjm.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/south-australia/south-australia-1760784675505-reemjm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
