@font-face {
  font-family: 'PortraitScriptBounce';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/portraitscriptbounce/portraitscriptbounce-1760784224586-42xb0k.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/portraitscriptbounce/portraitscriptbounce-1760784224586-42xb0k.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
