@font-face {
  font-family: 'Pinsmalle Script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/pinsmalle-script/pinsmalle-script-1774793786039-axqrok.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/pinsmalle-script/pinsmalle-script-1774793786039-axqrok.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
