@font-face {
  font-family: 'JonathanAndreaScript';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/jonathanandreascript/jonathanandreascript-1760784402010-mx38mi.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/jonathanandreascript/jonathanandreascript-1760784402010-mx38mi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
