@font-face {
  font-family: 'Sabiant';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sabiant/sabiant-1774793748105-3ejp4g.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sabiant/sabiant-1774793748105-3ejp4g.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
