@font-face {
  font-family: 'Ciutadella Rounded Bold';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/ciutadella-rounded-bold/ciutadella-rounded-bold-1774793745818-gw2jc8.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/ciutadella-rounded-bold/ciutadella-rounded-bold-1774793745818-gw2jc8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
