@font-face {
  font-family: 'Cloister Black';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/cloister-black/cloister-black-1774793767220-qhf7ca.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/cloister-black/cloister-black-1774793767220-qhf7ca.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
