@font-face {
  font-family: 'Sannesy';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sannesy/sannesy-1774793814513-mb8vrr.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sannesy/sannesy-1774793814513-mb8vrr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
