@font-face {
  font-family: 'Itim';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/itim/itim-1764506496736-gf24hy.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/itim/itim-1764506496736-gf24hy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
