@font-face {
  font-family: 'iCielBC DDC Hardware Rough';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/icielbc-ddc-hardware-rough/icielbc-ddc-hardware-rough-1774794114893-qlkiil.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/icielbc-ddc-hardware-rough/icielbc-ddc-hardware-rough-1774794114893-qlkiil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
