@font-face {
  font-family: 'SVN Desire';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-desire/svn-desire-1764796488989-7hcygs.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-desire/svn-desire-1764796488989-7hcygs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
