@font-face {
  font-family: 'SVN Signatie';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-signatie/svn-signatie-1778774747977-wz7blh.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-signatie/svn-signatie-1778774747977-wz7blh.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
