@font-face {
  font-family: 'Huxley Max';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/huxley-max/huxley-max-1764796493275-2s7h3n.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/huxley-max/huxley-max-1764796493275-2s7h3n.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
