@font-face {
  font-family: 'OpenSans';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/opensans/opensans-1760784238549-w2m0du.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/opensans/opensans-1760784238549-w2m0du.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
