@font-face {
  font-family: 'Gasthony Signature';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/gasthony-signature/gasthony-signature-1774793752444-rsgug5.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/gasthony-signature/gasthony-signature-1774793752444-rsgug5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
