@font-face {
  font-family: 'Kathya Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/kathya-regular/kathya-regular-1774793737979-ywpjrl.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/kathya-regular/kathya-regular-1774793737979-ywpjrl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
