@font-face {
  font-family: 'UTM Edwardian';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-edwardian/utm-edwardian-1784441152969-jfbqnf.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-edwardian/utm-edwardian-1784441152969-jfbqnf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
