@font-face {
  font-family: 'Modisframe';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/modisframe/modisframe-1760784704859-p18a7f.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/modisframe/modisframe-1760784704859-p18a7f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
