@font-face {
  font-family: 'Paris Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/paris-regular/paris-regular-1774793059595-bwa4lt.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/paris-regular/paris-regular-1774793059595-bwa4lt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
