@font-face {
  font-family: 'Binerka';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/binerka/binerka-1774793796916-zmwbea.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/binerka/binerka-1774793796916-zmwbea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
