@font-face {
  font-family: 'SVN Kitten';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-kitten/svn-kitten-1779918255160-62anp5.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-kitten/svn-kitten-1779918255160-62anp5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
