@font-face {
  font-family: 'BrownyCakesSignature';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brownycakessignature/brownycakessignature-1760784434457-ngetv4.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brownycakessignature/brownycakessignature-1760784434457-ngetv4.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
