@font-face {
  font-family: 'Amherst';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/amherst/amherst-1760781956395-p7qyjg.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/amherst/amherst-1760781956395-p7qyjg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
