@font-face {
  font-family: 'PlayfairDisplay';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/playfairdisplay/playfairdisplay-1760784242734-38w1t9.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/playfairdisplay/playfairdisplay-1760784242734-38w1t9.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
