@font-face {
  font-family: 'OpenSans_Condensed';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/opensanscondensed/opensanscondensed-1760784229246-9xqyek.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/opensanscondensed/opensanscondensed-1760784229246-9xqyek.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
