@font-face {
  font-family: 'MTD Feather';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mtd-feather/mtd-feather-1785581268901-1a2lz4.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mtd-feather/mtd-feather-1785581268901-1a2lz4.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
