@font-face {
  font-family: 'Night Wind Sent';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/night-wind-sent/night-wind-sent-1765738869466-vr5oqx.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/night-wind-sent/night-wind-sent-1765738869466-vr5oqx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
