@font-face {
  font-family: 'Selly Calligraphy';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/selly-calligraphy/selly-calligraphy-1760781667685-lla1xw.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/selly-calligraphy/selly-calligraphy-1760781667685-lla1xw.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
