@font-face {
  font-family: 'Nunito Light';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/nunito-light/nunito-light-1774933695647-cfp7ut.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/nunito-light/nunito-light-1774933695647-cfp7ut.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
