@font-face {
  font-family: 'Times New Normal';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/times-new-normal/times-new-normal-1769274915854-8dx6vk.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/times-new-normal/times-new-normal-1769274915854-8dx6vk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
