@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/monsieur-la-doulaise/monsieur-la-doulaise-1760784636204-9u83yz.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/monsieur-la-doulaise/monsieur-la-doulaise-1760784636204-9u83yz.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
