@font-face {
  font-family: 'Pencerio';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/pencerio/pencerio-1760784701177-gjg2yj.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/pencerio/pencerio-1760784701177-gjg2yj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
