@font-face {
  font-family: 'ShowcaseSans';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/showcasesans/showcasesans-1760784370132-qo3eb5.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/showcasesans/showcasesans-1760784370132-qo3eb5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
