@font-face {
  font-family: 'Eastin Hikary';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/eastin-hikary/eastin-hikary-1760781779439-yownng.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/eastin-hikary/eastin-hikary-1760781779439-yownng.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
