@font-face {
  font-family: 'VNF Bodoni';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vnf-bodoni/vnf-bodoni-1765887262194-vxrdxu.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vnf-bodoni/vnf-bodoni-1765887262194-vxrdxu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
