@font-face {
  font-family: 'Pecita';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/pecita/pecita-1773814261292-os9qqy.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/pecita/pecita-1773814261292-os9qqy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
