@font-face {
  font-family: 'DFVN Berfilem';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/dfvn-berfilem/dfvn-berfilem-1778774760246-p498np.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/dfvn-berfilem/dfvn-berfilem-1778774760246-p498np.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
