@font-face {
  font-family: 'BethanWhite';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/bethanwhite/bethanwhite-1760783516077-kyzu7y.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/bethanwhite/bethanwhite-1760783516077-kyzu7y.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
