@font-face {
  font-family: 'Mallong';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mallong/mallong-1760784215654-uwkp9c.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mallong/mallong-1760784215654-uwkp9c.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
