@font-face {
  font-family: 'SparklePerfection';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sparkleperfection/sparkleperfection-1760784680373-y8inu2.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sparkleperfection/sparkleperfection-1760784680373-y8inu2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
