@font-face {
  font-family: 'Daughter';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/daughter/daughter-1760784442007-7w9agb.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/daughter/daughter-1760784442007-7w9agb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
