@font-face {
  font-family: 'Roboto Light';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/roboto-light/roboto-light-1774794278641-p8l4uo.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/roboto-light/roboto-light-1774794278641-p8l4uo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
