@font-face {
  font-family: 'Sadstory';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sadstory/sadstory-1760784659798-7z6msv.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sadstory/sadstory-1760784659798-7z6msv.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
