@font-face {
  font-family: 'Mesdag Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mesdag-regular/mesdag-regular-1774793777779-f6mv1p.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mesdag-regular/mesdag-regular-1774793777779-f6mv1p.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
