@font-face {
  font-family: 'Signatie';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/signatie/signatie-1760784710409-gu74c5.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/signatie/signatie-1760784710409-gu74c5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
