@font-face {
  font-family: 'Shanell';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/shanell/shanell-1774793728565-n6rjnf.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/shanell/shanell-1774793728565-n6rjnf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
