@font-face {
  font-family: 'UTM Yen Tu';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-yen-tu/utm-yen-tu-1770657045869-t2xx7i.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-yen-tu/utm-yen-tu-1770657045869-t2xx7i.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
