@font-face {
  font-family: 'Molahesta-Italic';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/molahesta-italic/molahesta-italic-1760784632261-h5ulo0.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/molahesta-italic/molahesta-italic-1760784632261-h5ulo0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
