@font-face {
  font-family: 'FZ Bohemian';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/fz-bohemian/fz-bohemian-1764955913267-fq4yox.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/fz-bohemian/fz-bohemian-1764955913267-fq4yox.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
