@font-face {
  font-family: 'Alisheia';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/alisheia/alisheia-1781916204564-mpl41n.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/alisheia/alisheia-1781916204564-mpl41n.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
