@font-face {
  font-family: 'Right Here';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/right-here/right-here-1760783596467-4dwbw1.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/right-here/right-here-1760783596467-4dwbw1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
