@font-face {
  font-family: 'Lora Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/lora-regular/lora-regular-1765171536658-xs6f6j.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/lora-regular/lora-regular-1765171536658-xs6f6j.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
