@font-face {
  font-family: 'BHN - Android Euclid';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/bhn-android-euclid/bhn-android-euclid-1774933699148-258dty.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/bhn-android-euclid/bhn-android-euclid-1774933699148-258dty.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
