@font-face {
  font-family: 'Minimalistsans Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/minimalistsans-regular/minimalistsans-regular-1774793810196-sfza1f.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/minimalistsans-regular/minimalistsans-regular-1774793810196-sfza1f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
