@font-face {
  font-family: 'Clodia';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/clodia/clodia-1760784708368-v1efam.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/clodia/clodia-1760784708368-v1efam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
