@font-face {
  font-family: 'LC ZenLove';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/lc-zenlove/lc-zenlove-1767882898727-g6ega6.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/lc-zenlove/lc-zenlove-1767882898727-g6ega6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
