@font-face {
  font-family: 'Goma Block Font';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/goma-block-font/goma-block-font-1774793724657-phirjm.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/goma-block-font/goma-block-font-1774793724657-phirjm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
