@font-face {
  font-family: 'Signerica';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/signerica/signerica-1760783682987-0mqojd.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/signerica/signerica-1760783682987-0mqojd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
