@font-face {
  font-family: 'Brushline';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brushline/brushline-1774793772130-u7yr8z.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brushline/brushline-1774793772130-u7yr8z.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
