@font-face {
  font-family: 'Housttely';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/housttely/housttely-1762948918553-mr6s04.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/housttely/housttely-1762948918553-mr6s04.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
