@font-face {
  font-family: 'Lobster';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/lobster/lobster-1760783714767-0kqglj.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/lobster/lobster-1760783714767-0kqglj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
