@font-face {
  font-family: 'Sunshine';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sunshine/sunshine-1760784406870-ocigv0.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sunshine/sunshine-1760784406870-ocigv0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
