@font-face {
  font-family: 'Outer Sans Thin';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/outer-sans-thin/outer-sans-thin-1765667604222-bulm7u.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/outer-sans-thin/outer-sans-thin-1765667604222-bulm7u.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
