@font-face {
  font-family: 'Populer';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/populer/populer-1774793768752-uije3i.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/populer/populer-1774793768752-uije3i.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
