@font-face {
  font-family: 'Le Petit Cochon';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/le-petit-cochon/le-petit-cochon-1773814241384-lz5wqj.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/le-petit-cochon/le-petit-cochon-1773814241384-lz5wqj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
