@font-face {
  font-family: 'Moriyathena Ezlzl';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/moriyathena-ezlzl/moriyathena-ezlzl-1774793812742-dua20a.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/moriyathena-ezlzl/moriyathena-ezlzl-1774793812742-dua20a.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
