@font-face {
  font-family: 'Arcittya Begatri';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/arcittya-begatri/arcittya-begatri-1765171541178-9e42kz.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/arcittya-begatri/arcittya-begatri-1765171541178-9e42kz.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
