@font-face {
  font-family: 'Gillastone';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/gillastone/gillastone-1760784611200-nk5sb9.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/gillastone/gillastone-1760784611200-nk5sb9.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
