@font-face {
  font-family: 'Miya Wayne';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/miya-wayne/miya-wayne-1760783533122-h6eb85.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/miya-wayne/miya-wayne-1760783533122-h6eb85.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
