@font-face {
  font-family: 'Memoryof2018';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/memoryof2018/memoryof2018-1760784626120-3kk0im.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/memoryof2018/memoryof2018-1760784626120-3kk0im.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
