@font-face {
  font-family: 'VIP Quincento';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vip-quincento/vip-quincento-1774793781923-ahn6wy.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vip-quincento/vip-quincento-1774793781923-ahn6wy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
