@font-face {
  font-family: 'AnisaSignature';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/anisasignature/anisasignature-1760784415207-0qtjev.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/anisasignature/anisasignature-1760784415207-0qtjev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
