@font-face {
  font-family: 'UVN Ke Chuyen2';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/uvn-ke-chuyen2/uvn-ke-chuyen2-1781917785545-uc0iz3.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/uvn-ke-chuyen2/uvn-ke-chuyen2-1781917785545-uc0iz3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
