@font-face {
  font-family: 'ATSH';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/atsh/atsh-1774793774101-u48af3.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/atsh/atsh-1774793774101-u48af3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
