@font-face {
  font-family: 'PoetsenOne';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/poetsenone/poetsenone-1761070057478-hiv4p7.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/poetsenone/poetsenone-1761070057478-hiv4p7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
