@font-face {
  font-family: 'Karmila Script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/karmila-script/karmila-script-1774793758230-1ga9sp.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/karmila-script/karmila-script-1774793758230-1ga9sp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
