@font-face {
  font-family: 'Simplesnails';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/simplesnails/simplesnails-1769830213166-kcueat.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/simplesnails/simplesnails-1769830213166-kcueat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
