@font-face {
  font-family: 'Camiro';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/camiro/camiro-1774793739852-g9amxm.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/camiro/camiro-1774793739852-g9amxm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
