@font-face {
  font-family: 'VIP Brisca';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vip-brisca/vip-brisca-1774793801520-4mcbpx.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vip-brisca/vip-brisca-1774793801520-4mcbpx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
