@font-face {
  font-family: 'Alexandria Signature 400';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/alexandria-signature-400/alexandria-signature-400-1774793755059-33rmvd.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/alexandria-signature-400/alexandria-signature-400-1774793755059-33rmvd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
