@font-face {
  font-family: 'Blaytina Italic';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/blaytina-italic/blaytina-italic-1774793799422-03uccl.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/blaytina-italic/blaytina-italic-1774793799422-03uccl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
