@font-face {
  font-family: 'Mentawai';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mentawai/mentawai-1760784378623-bj07es.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/mentawai/mentawai-1760784378623-bj07es.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
