@font-face {
  font-family: 'DFVN Gochi Hand';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/dfvn-gochi-hand/dfvn-gochi-hand-1776523721067-w70tdw.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/dfvn-gochi-hand/dfvn-gochi-hand-1776523721067-w70tdw.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
