@font-face {
  font-family: 'Labora Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/labora-regular/labora-regular-1777874808291-u97kku.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/labora-regular/labora-regular-1777874808291-u97kku.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
