@font-face {
  font-family: 'BrothersideSignature';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brothersidesignature/brothersidesignature-1760784429835-zj3jmu.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brothersidesignature/brothersidesignature-1760784429835-zj3jmu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
