@font-face {
  font-family: 'SVN Gilroy';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-gilroy/svn-gilroy-1764796505380-9dn4ak.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-gilroy/svn-gilroy-1764796505380-9dn4ak.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
