@font-face {
  font-family: 'VlFlashBack';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vlflashback/vlflashback-1764796503227-kl5p2s.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vlflashback/vlflashback-1764796503227-kl5p2s.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
