@font-face {
  font-family: 'Aquarelle';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/aquarelle/aquarelle-1760784386443-mydqwc.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/aquarelle/aquarelle-1760784386443-mydqwc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
