@font-face {
  font-family: 'Hastegi';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/hastegi/hastegi-1765171543799-gxal6i.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/hastegi/hastegi-1765171543799-gxal6i.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
