@font-face {
  font-family: 'BelindaAvenue';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/belindaavenue/belindaavenue-1760784425204-c4dqm0.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/belindaavenue/belindaavenue-1760784425204-c4dqm0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
