@font-face {
  font-family: 'Activists Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/activists-regular/activists-regular-1774793787830-ljzrzm.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/activists-regular/activists-regular-1774793787830-ljzrzm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
