@font-face {
  font-family: 'Love Signature';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/love-signature/love-signature-1760784618703-sg2mr5.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/love-signature/love-signature-1760784618703-sg2mr5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
