@font-face {
  font-family: 'Signora';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/signora/signora-1760781944628-mio7m6.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/signora/signora-1760781944628-mio7m6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
