@font-face {
  font-family: 'HoaTay1';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/hoatay1/hoatay1-1760784393832-7yv8a1.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/hoatay1/hoatay1-1760784393832-7yv8a1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
