@font-face {
  font-family: 'Traveling TypeWriter';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/traveling-typewriter/traveling-typewriter-1764796491711-0z12zj.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/traveling-typewriter/traveling-typewriter-1764796491711-0z12zj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
