@font-face {
  font-family: 'Royal Chambers';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/royal-chambers/royal-chambers-1774793789453-vcommy.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/royal-chambers/royal-chambers-1774793789453-vcommy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
