@font-face {
  font-family: 'Roboto';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/roboto/roboto-1774794281344-2vjacq.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/roboto/roboto-1774794281344-2vjacq.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
