@font-face {
  font-family: 'KD Fashion Wacks';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/kd-fashion-wacks/kd-fashion-wacks-1767882866304-fuecl4.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/kd-fashion-wacks/kd-fashion-wacks-1767882866304-fuecl4.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
