@font-face {
  font-family: 'Feather Script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/feather-script/feather-script-1785581690505-if1sai.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/feather-script/feather-script-1785581690505-if1sai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
