@font-face {
  font-family: 'Katty Diona';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/katty-diona/katty-diona-1760781490557-behcn3.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/katty-diona/katty-diona-1760781490557-behcn3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
