@font-face {
  font-family: 'Quicksand';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/quicksand/quicksand-1760781691522-t0r1ck.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/quicksand/quicksand-1760781691522-t0r1ck.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
