@font-face {
  font-family: 'Qalogre Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/qalogre-regular/qalogre-regular-1778926938514-y8m78m.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/qalogre-regular/qalogre-regular-1778926938514-y8m78m.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
