@font-face {
  font-family: 'Rustling Sound';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/rustling-sound/rustling-sound-1760784706711-lm7tns.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/rustling-sound/rustling-sound-1760784706711-lm7tns.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
