@font-face {
  font-family: 'Nura Asyifa';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/nura-asyifa/nura-asyifa-1760784639983-w928zy.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/nura-asyifa/nura-asyifa-1760784639983-w928zy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
