@font-face {
  font-family: 'Brygada';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brygada/brygada-1782101895581-g09l1z.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/brygada/brygada-1782101895581-g09l1z.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
