@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/plus-jakarta-sans/plus-jakarta-sans-1765667602669-rwoaoo.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/plus-jakarta-sans/plus-jakarta-sans-1765667602669-rwoaoo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
