@font-face {
  font-family: 'Outer Sans Light';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/outer-sans-light/outer-sans-light-1765667600428-nzz3gc.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/outer-sans-light/outer-sans-light-1765667600428-nzz3gc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
