@font-face {
  font-family: '1FTV HF Gesco';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/1ftv-hf-gesco/1ftv-hf-gesco-1774933697376-wfi5v8.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/1ftv-hf-gesco/1ftv-hf-gesco-1774933697376-wfi5v8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
