@font-face {
  font-family: 'SVN-Billo';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-billo/svn-billo-1774932436653-fqyjqo.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/svn-billo/svn-billo-1774932436653-fqyjqo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
