@font-face {
  font-family: 'Showhan Vintage';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/showhan-vintage/showhan-vintage-1774793783862-nud9co.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/showhan-vintage/showhan-vintage-1774793783862-nud9co.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
