@font-face {
  font-family: 'UTM Avo';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-avo/utm-avo-1772189570876-716b0m.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-avo/utm-avo-1772189570876-716b0m.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
