@font-face {
  font-family: 'VNF Shelia Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vnf-shelia-regular/vnf-shelia-regular-1774785836410-p21a3z.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vnf-shelia-regular/vnf-shelia-regular-1774785836410-p21a3z.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
