@font-face {
  font-family: 'Waredosk';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/waredosk/waredosk-1774793817835-9chv1a.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/waredosk/waredosk-1774793817835-9chv1a.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
