@font-face {
  font-family: 'TheYoshi';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/theyoshi/theyoshi-1760784410947-jjnjce.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/theyoshi/theyoshi-1760784410947-jjnjce.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
