@font-face {
  font-family: 'ThuphapXuan';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/thuphapxuan/thuphapxuan-1772189568981-whu4e1.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/thuphapxuan/thuphapxuan-1772189568981-whu4e1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
