@font-face {
  font-family: 'Willow Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/willow-regular/willow-regular-1774793823073-nkhas3.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/willow-regular/willow-regular-1774793823073-nkhas3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
