@font-face {
  font-family: 'UTM Cafeta';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-cafeta/utm-cafeta-1774786857122-hzrwem.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-cafeta/utm-cafeta-1774786857122-hzrwem.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
