@font-face {
  font-family: 'Marmelad Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/marmelad-regular/marmelad-regular-1771225078105-ki07np.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/marmelad-regular/marmelad-regular-1771225078105-ki07np.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
