@font-face {
  font-family: 'Abbassy';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/abbassy/abbassy-1760784693383-nritax.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/abbassy/abbassy-1760784693383-nritax.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
