@font-face {
  font-family: 'Amstirdam';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/amstirdam/amstirdam-1760784703083-3573cq.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/amstirdam/amstirdam-1760784703083-3573cq.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
