@font-face {
  font-family: 'DN Cursive';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/dn-cursive/dn-cursive-1761069313441-z6igzn.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/dn-cursive/dn-cursive-1761069313441-z6igzn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
