@font-face {
  font-family: 'BucThu';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/bucthu/bucthu-1760784390291-6dzl73.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/bucthu/bucthu-1760784390291-6dzl73.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
