@font-face {
  font-family: 'Vince';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vince/vince-1774793793000-2tb19q.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vince/vince-1774793793000-2tb19q.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
