@font-face {
  font-family: 'Vapour';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vapour/vapour-1774793816115-0th0vj.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/vapour/vapour-1774793816115-0th0vj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
