@font-face {
  font-family: 'OpenSans_SemiCondensed';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/opensanssemicondensed/opensanssemicondensed-1760784233424-9uv7dx.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/opensanssemicondensed/opensanssemicondensed-1760784233424-9uv7dx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
