@font-face {
  font-family: 'Matreal';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/matreal/matreal-1774793821108-tkh4mu.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/matreal/matreal-1774793821108-tkh4mu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
