@font-face {
  font-family: 'Airates Script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/airates-script/airates-script-1774793742398-eov0sy.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/airates-script/airates-script-1774793742398-eov0sy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
