@font-face {
  font-family: 'Perfect Beloved';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/perfect-beloved/perfect-beloved-1760784647684-24e8yi.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/perfect-beloved/perfect-beloved-1760784647684-24e8yi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
