@font-face {
  font-family: 'Logate';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/logate/logate-1763550645175-t290zr.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/logate/logate-1763550645175-t290zr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
