@font-face {
  font-family: 'Luxurious Script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/luxurious-script/luxurious-script-1784441040652-02w2nx.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/luxurious-script/luxurious-script-1784441040652-02w2nx.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
