@font-face {
  font-family: 'NewYork';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/newyork/newyork-1780768001545-6yw6di.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/newyork/newyork-1780768001545-6yw6di.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
