@font-face {
  font-family: 'Trolly Kuto';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/trolly-kuto/trolly-kuto-1774793819299-v0lf2v.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/trolly-kuto/trolly-kuto-1774793819299-v0lf2v.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
