@font-face {
  font-family: 'The Hamstter';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/the-hamstter/the-hamstter-1760781615377-vd8a78.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/the-hamstter/the-hamstter-1760781615377-vd8a78.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
