@font-face {
  font-family: 'Sacramento';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sacramento/sacramento-1760784655411-ewrt4e.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/sacramento/sacramento-1760784655411-ewrt4e.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
