@font-face {
  font-family: 'Shantell Sans';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/shantell-sans/shantell-sans-1764506479913-vmj697.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/shantell-sans/shantell-sans-1764506479913-vmj697.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
