@font-face {
  font-family: 'Artisan';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/artisan/artisan-1760783556679-ay0ks9.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/artisan/artisan-1760783556679-ay0ks9.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
