@font-face {
  font-family: 'Green Brooks';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/green-brooks/green-brooks-1774793750200-9qsrsv.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/green-brooks/green-brooks-1774793750200-9qsrsv.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
