@font-face {
  font-family: 'Crimson Pro';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/crimson-pro/crimson-pro-1777566514567-gf9wlq.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/crimson-pro/crimson-pro-1777566514567-gf9wlq.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
