@font-face {
  font-family: 'Paris Light';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/paris-light/paris-light-1774793057313-4i36i0.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/paris-light/paris-light-1774793057313-4i36i0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
