@font-face {
  font-family: 'Times New Roman';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/times-new-roman/times-new-roman-1774726464435-3ajqfr.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/times-new-roman/times-new-roman-1774726464435-3ajqfr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
