@font-face {
  font-family: 'scarlet-bradley.script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/scarlet-bradleyscript/scarlet-bradleyscript-1760784668207-i3btlb.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/scarlet-bradleyscript/scarlet-bradleyscript-1760784668207-i3btlb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
