@font-face {
  font-family: '1FTV VIP Baby Doll';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/1ftv-vip-baby-doll/1ftv-vip-baby-doll-1780535477918-c76bar.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/1ftv-vip-baby-doll/1ftv-vip-baby-doll-1780535477918-c76bar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
