@font-face {
  font-family: 'EdwardianScriptRegular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/edwardianscriptregular/edwardianscriptregular-1778926940586-kwzjnl.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/edwardianscriptregular/edwardianscriptregular-1778926940586-kwzjnl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
