@font-face {
  font-family: 'UTM Azkia';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-azkia/utm-azkia-1774786303769-ayjkon.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/utm-azkia/utm-azkia-1774786303769-ayjkon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
