@font-face {
  font-family: 'Generating Script';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/generating-script/generating-script-1774793780238-n0j4kf.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/generating-script/generating-script-1774793780238-n0j4kf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
