@font-face {
  font-family: 'Medio Vintage Regular';
  src: url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/medio-vintage-regular/medio-vintage-regular-1774793744118-lb4xl1.woff2') format('woff2'), url('https://raw.githubusercontent.com/truongnx-tdt/image_store/main/uploads/fonts/webfonts/medio-vintage-regular/medio-vintage-regular-1774793744118-lb4xl1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
